@font-face {
	font-family: 'icomoon';
	src:url('../../font-icons/icomoon.eot?562ny0');
	src:url('../../font-icons/icomoon.eot?#iefix562ny0') format('embedded-opentype'),
		url('../../font-icons/icomoon.ttf?562ny0') format('truetype'),
		url('../../font-icons/icomoon.woff?562ny0') format('woff'),
		url('../../font-icons/icomoon.svg?562ny0#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icomoon-"], [class*=" icomoon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1.2;
	vertical-align: middle;

	/* Enable Ligatures ================ */
	letter-spacing: 0;
	-webkit-font-feature-settings: "liga";
	-moz-font-feature-settings: "liga=1";
	-moz-font-feature-settings: "liga";
	-ms-font-feature-settings: "liga" 1;
	-o-font-feature-settings: "liga";
	font-feature-settings: "liga";

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icomoon-dropdown-nav:before {
	content: "\e600";
}
.icomoon-facebook:before {
	content: "\e601";
}
.icomoon-menu:before {
	content: "\e602";
}
.icomoon-instagram:before {
	content: "\e603";
}
.icomoon-globe:before {
	content: "\e604";
}
.icomoon-prev:before {
	content: "\e605";
}
.icomoon-next:before {
	content: "\e606";
}
.icomoon-map-pin:before {
	content: "\e607";
}
.icomoon-play:before {
	content: "\e608";
}
.icomoon-twitter:before {
	content: "\e609";
}
.icomoon-up-dir:before {
	content: "\e006";
}
.icomoon-right-dir:before {
	content: "\e010";
}
.icomoon-left-dir:before {
	content: "\e01d";
}
.icomoon-down-dir:before {
	content: "\e025";
}
.icomoon-checkbox:before {
	content: "\e054";
}
.icomoon-check:before {
	content: "\e116";
}
.icomoon-close:before {
	content: "\e60d";
}
.icomoon-minus:before {
	content: "\e115";
}
.icomoon-arrow-right:before {
	content: "\e095";
	font-size: 18px;
}
.icomoon-shopping-cart:before {
	content: "\e60c";
}
.icomoon-google-plus:before {
	content: "\ea88";
}
.icomoon-calendar:before {
	content: "\e60b";
}
.icomoon-pinterest:before {
	content: "\e60a";
}
