// ------ primary colors - header/footer borders, promo background, masthead overlay background,

$primaryColor_fallback = #555

$primaryColor_blue = #4a7999
$primaryColor_navy = #495062
$primaryColor_red = #c15252
$primaryColor_orange = #a25d42
$primaryColor_green = #547f54
$primaryColor_maroon = #773c3c

// colors

$color-1 = #113A87
$color-2 = #F1F1F2
$color-3 = #FF6B0B
$color-4 = #B9D531
$color-5 = #38C6F4
$color-6 = #DCDDDF

$drk-grey = #303E4D
$md-grey = #757E87
$lt-grey = #B3B8BC


// COLOR BG FOR TESTING
.orange
	background orange
.lime
	background lime
.red
	background red
.purple
	background purple
.grey
	background gray
.blue
	background blue
.yellow
	background yellow

// ------ things that stay the same between colors
$primaryTextColor = #6c6764		// main body text
$secondaryTextColor = #fff		// text on $primaryColor background
$supportTextColor = #5F5D5D
$backgroundGrayColor = #F3F2F2

// BUTTON COLOR VARIABLES --------------
$primaryBtnColor = #5F5D5D
$secondaryBtnColor = #7D7773
$tertiaryBtnColor = #A8A3A0
$supportBtnColor = #5F5D5D
$inactiveBtnColor = #A8A3A0

// Checkout step colors
$checkoutStepsBackgroundActive = #8d7e69
$checkoutStepsTextColor = #A8A3A0
$checkoutStepsBorderColor = #c1c1c1
