
// Device Detection ----------------
.device
.device:after
.device:before
	display block

.device
	position fixed
	bottom 0
	left 0
	z-index 99999
	padding 10px
	background #000
	color #fff
	font-size 12px
	font-weight 700
	line-height 1.3
	text-transform uppercase

.device:after
	@media $tablet-down
		content "tablet \2193"
	@media $phone-down
		content "phone \2193"
	@media $tablet-up
		content "tablet \2191"
	@media $desktop-up
		content "desktop \2191"
	@media $desktop-large-up
		content "desktop-large \2191"

@media all and (-webkit-min-device-pixel-ratio:1.5)
	.device
		padding 10px 5px 3px 8px

		&:before
			content 'retina'
			font-size 7px
			font-weight 700
			letter-spacing 7.5px
			line-height 1.1
			color red

// bootstrap responsive image additions
.img-responsive
	width 100%

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden
	border 0
	clip rect(0 0 0 0)
	height 1px
	margin -1px
	overflow hidden
	padding 0
	position absolute
	width 1px
	opacity 0.1

.shrink
	transform scale(0.8, 0)
	transition all .2s ease-out

.area-link
	position relative

	& > a:first-child
		absolute top bottom
		width 100%
		z-index 10
		height 100%
		display block

.ie10 .area-link > a:first-child
    background-image url('../../images/ui/blank.gif')

.b-border
	border-bottom 1px solid $primaryBtnColor

.col-centered
	float none
	margin 0 auto

// .vertical-align
// 	display flex
// 	align-items center
.font-lime
	color $color-4

.font-white
	color $color-2

.font-blue a
	color $color-1
	font-weight 700
	text-transform uppercase

.float-left
	float left
.float-right
	float right

.inline-block
	display inline-block

// Table elements
.table
	display table
.table-row
	display table-row
.table-cell
	display table-cell

// SPACING
.margin-05
	margin 8px
.margin-1
	margin 16px

.margin-y1
	margin-top 16px
	margin-bottom 16px
.margin-y2
	margin-top 32px
	margin-bottom 32px
.margin-y3
	margin-top 48px
	margin-bottom 48px

.t-margin-1
	margin-top 16px
.t-margin-2
	margin-top 32px
.t-margin-3
	margin-top 48px
.t-margin-4
	margin-top 64px
.t-margin-5
	margin-top 80px

.b-margin-1
	margin-bottom 16px
.b-margin-2
	margin-bottom 32px
.b-margin-3
	margin-bottom 48px
.b-margin-4
	margin-bottom 64px
.b-margin-5
	margin-bottom 80px

.padding-05
	padding 8px
.padding-1
	padding 16px
.padding-y1
	padding-top 16px
	padding-bottom 16px
.padding-y2
	padding-top 32px
	padding-bottom 32px
.padding-y3
	padding-top 48px
	padding-bottom 48px
.r-padding-10
	padding-right 10px
.l-padding-10
	padding-left 10px



// Alignment
.text-left
	text-align left
.text-right
	text-align right
.text-center
	text-align center
.text-justify
	text-align justify
.text-nowrap
	white-space nowrap


// Transformation
.text-lowercase
	text-transform lowercase
.text-uppercase
	text-transform uppercase
.text-capitalize
	text-transform capitalize

.no-padding
	padding 0
