// BUTTON STYLES ------------------------

.btn-link:focus
	outline 0 !important

.btn--primary
	border 2px solid $primaryBtnColor
	background-color $primaryBtnColor
	color white

	&:hover,
	&:active,
	&:focus
		border 2px solid $primaryBtnColor
		background-color white
		color $primaryBtnColor

.btn--secondary
	border 2px solid $secondaryBtnColor
	background-color $secondaryBtnColor
	color white

	&:hover,
	&:active,
	&:focus
		border 2px solid $secondaryBtnColor
		background-color white
		color $secondaryBtnColor

.btn--tertiary
	border 2px solid $tertiaryBtnColor
	background-color $tertiaryBtnColor
	color white

	&:hover,
	&:active,
	&:focus
		border 2px solid $secondaryBtnColor
		background-color white
		color $secondaryBtnColor

.btn--support
	border 2px solid $supportBtnColor
	color $supportBtnColor
	background-color white

	&:hover
	&:active
	&:focus
		background-color $supportBtnColor
		color white

.btn--inactive
	border 2px solid $inactiveBtnColor
	color $inactiveBtnColor

	&:hover,
	&:active,
	&:focus
		background-color $inactiveBtnColor
		color white
