.banner
	max-width 80%
	margin 0 auto 70%

	@media $tablet-up
		max-width 60%
		margin-bottom 30%

.chicago-hero
	background url('../../img/chicago-skyline.jpg') no-repeat
	background-size cover
	background-attachment fixed
	background-position center center

.logo
	position absolute
	top 0
	left 0
	right 0
	margin .25rem auto
	margin-top 30px
	width 220px
	@media $tablet-up
		width 250px

.social-links
	position absolute
	top 47px
	left 0
	right 0
	@media $tablet-up
		top 7px
		left 10px
		right auto

	a
		color $color-2

	a:hover
	a:active
		color $color-3

.register_button
	margin-top 5%
	@media $tablet-up
		margin-top 0

.subheader
	color $color-3
