#map-canvas
	height 100vh
	margin 0px
	padding 0px

#js-map
	background-color #ffffff

.row-margins
	margin-left -10px
	margin-right -10px

.map__location
	background white
	font-family Campton-Light
	font-size 2rem
	text-align left

	img
		width 100%

	span
		display block
		color $md-grey

		&:first-of-type
			color $color-1
			font-size 2.2rem
			font-family Campton-Bold
			padding-bottom .1rem

		&:nth-of-type(2)
			font-size 2rem
			line-height 1.6

.map__information
	padding-top 30%
	@media $tablet-up
		padding-top 7.5%

// .cd-section>div.map__wrapper
// 	vertical-align initial
// 	display block

// #cd-zoom-in, #cd-zoom-out {
// 	height: 32px;
// 	width: 32px;
// 	cursor: pointer;
// 	margin-left: 10px;
// 	background-color: rgba($color-2, .9);
// 	background-repeat: no-repeat;
// 	background-size: 32px 64px;
// 	background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/148866/cd-icon-controller.svg');
//
// 	.no-touch &:hover {
// 		background-color: rgba($color-2, 1);
// 	}
//
// 	@include MQ(M) {
// 		margin-left: 50px;
// 	}
// }
//
// #cd-zoom-in {
// 	background-position: 50% 0;
// 	margin-top: 10px;
// 	margin-bottom: 1px;
//
// 	@include MQ(M) {
// 		margin-top: 50px;
// 	}
// }
//
// #cd-zoom-out {
// 	background-position: 50% -32px;
// }
