.cbp_tmtimeline
	width 90%
	margin 0 auto
	@media $tablet-up
		width 85%
		margin-left 5%

.cbp_tmtitle
	color $color-2

.cbp_expand
.cbp_expand p
	font-size 1.125rem
	line-height 1.6
	text-align left
	margin-bottom 1rem

	> ul
		text-align left
		list-style disc inside none

		li
			margin 0 0 1rem
			font-family Campton-Light, sans-serif


.cbp_tmicon-speaker:before
	content "\e8cd"

.cbp_tmicon-food:before
	content "\eb44"

.cbp_tmicon-qa:before
	content "\e8af"

.cbp_tmicon-break:before
	content "\e16b"

.cbp_tmicon-pizza:before
	content "\e552"


// Date and Time information
.cbp_tmtimeline
	> li
		text-align left
		.cbp_tmlabel
			background lightgray
			&:after
				border-bottom-color lightgray
				@media $tablet-up
					border-bottom-color transparent
					border-right-color lightgray

		.cbp_tmtime
			@media $desktop-up
				text-align right
				padding-right 110px
			span
				display inline
				&:first-child
					font-size 1.5em
					color lightgray
					@media $desktop-up
						font-size 2.5em

				&:last-child
					font-size 0.9em
					color $color-4
					margin-top 11%
					@media $desktop-up
						float right

		&:nth-child(odd)
			.cbp_tmtime
				span:last-child
					color $color-4

			.cbp_tmlabel
				background gray

			.cbp_tmlabel:after
				border-bottom-color gray
				@media $tablet-up
					border-bottom-color transparent
					border-right-color gray
