#js-agenda
	& .section__title
		color $color-1

.accordion-title
	h3
		display inline-block

	i
		margin-top 31px
		float right
		color $color-1


.cbp_tmtimeline
	width 90%
	margin 0 auto
	@media $tablet-up
		width 85%
		margin-left 5%

.cbp_tmtitle
	color $color-1
	padding 1em 0

.cbp_expand
.cbp_expand p
	font-size 1.125rem
	line-height 1.6
	text-align left
	padding-bottom 2rem
	color $color-1

	> ul
		text-align left
		list-style disc inside none

		li
			margin 0 0 1rem
			font-family Campton-Light, sans-serif

	&.no-extra-padding
		padding-bottom 1rem



.cbp_tmicon-speaker:before
	content "\e8cd"

.cbp_tmicon-food:before
	content "\eb44"

.cbp_tmicon-qa:before
	content "\e8af"

.cbp_tmicon-break:before
	content "\e16b"

.cbp_tmicon-pizza:before
	content "\e552"


// Date and Time information
.cbp_tmtimeline
	&::before
		background $color-5

	> li
		.cbp_tmicon
			-webkit-box-shadow 0 0 0 8px $color-5
			box-shadow 0 0 0 8px $color-5

		text-align left
		.cbp_tmlabel
			padding 0 2em
			background lightgray
			&:after
				border-bottom-color lightgray
				@media $tablet-up
					border-bottom-color transparent
					border-right-color lightgray

		.cbp_tmtime
			@media $desktop-up
				text-align right
				padding-right 110px

			span
				display inline
				&:first-child
					font-size 1.5em
					color lightgray
					@media $desktop-up
						font-size 2.5em

				&:last-child
					font-size 0.9em
					color $color-5
					margin-top 11%
					@media $desktop-up
						float right

		&:nth-child(odd)
			.cbp_tmtime
				span:last-child
					color $color-5

			.cbp_tmlabel
				background gray

			.cbp_tmlabel:after
				border-bottom-color gray
				@media $tablet-up
					border-bottom-color transparent
					border-right-color gray
