.Campton-Thin
	font-family Campton-Thin
	font-weight normal
	font-style normal

.Campton-SemiBold
	font-family Campton-SemiBold
	font-weight normal
	font-style normal

.Campton-Black
	font-family Campton-Black
	font-weight normal
	font-style normal

.Campton-Bold
	font-family Campton-Bold
	font-weight normal
	font-style normal

.Campton-Book
	font-family Campton-Book
	font-weight normal
	font-style normal

.Campton-Medium
	font-family Campton-Medium
	font-weight normal
	font-style normal

.Campton-ExtraLight
	font-family Campton-ExtraLight
	font-weight normal
	font-style normal

.Campton-ExtraBold
	font-family Campton-ExtraBold
	font-weight normal
	font-style normal

.Campton-Light
	font-family Campton-Light
	font-weight normal
	font-style normal

.Campton-LightItalic
	font-family Campton-LightItalic
	font-weight normal
	font-style normal

.Campton-BoldItalic
	font-family Campton-BoldItalic
	font-weight normal
	font-style normal

.Campton-BookItalic
	font-family Campton-BookItalic
	font-weight normal
	font-style normal

body
	font-family Campton-Book
	color $color-1

h1
	font-family Campton-SemiBold
	color $color-2

h2
	font-family Campton-Book
	color $color-2

h3
	font-family Campton-Book
	color $color-1
	font-weight 400
	line-height 1.6
	font-size 1.3rem
	@media $tablet-up
		font-size 2rem

h4
	font-family Campton-Book
	color $color-3
	font-weight 400
	font-size 1.2rem
	@media $tablet-up
		font-size 1.8rem

p
	font-family Campton-Light

.section__title
	width 90%
	margin 0 auto 3rem
	font-size 2.6rem
	line-height 1.4
	font-weight 700

	@media $tablet-up
		font-size 3rem

	b
		color darken($color-1, 10%)

.text__block
	margin 1em auto 0
	line-height 1.6
	width 90%
	color $color-1
	font-size 1.5rem

	@media $tablet-up
		width 78%
		font-size 2rem

	b
		color $color-2
		font-weight 700

.text__title
	font-family Campton-Light
	// text-align left
	color $color-1
	font-weight 700

.p__block
	// font-family Campton-ExtraLight
	// text-align left
	margin 1em auto 0
	line-height 1.6
	font-size 1.4rem
	width 90%
	color $color-1
